@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #2b2b2b; */
    height: 100vh;
}

/*Header start*/

header {
    background-image: url(../assets/bg-header.jpg);
    height: 180px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 0;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0.5;
}

.title {
    padding: 10px;
    background-color: #2b2b2b;
    color: white;
    float: left;
}

.title > div {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > div > a {
    font-size: 10px;
    color: gray;
    margin: 0;
    padding: 3px;
}

#line {
    color: gray;
    text-align: center;
    font-size: 15px;
}

.title h1 {
    margin: 0;
    font-size: 12px;
    margin-left: 10px;
}

.projects {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 18px;
}

.projects > h1 {
    margin: 0;
    letter-spacing: 12px;
    margin-top: 10px;
}

.dropdown {
    padding: 10px;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 100px;
    direction: rtl;
    padding-right: 10px;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

@media (max-width: 1199px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (min-width: 1200px) {
    .title h1 {
        font-size: 40px;
        margin-left: 30px;
        margin-right: 15px;
    }

    .projects {
        width: initial;
        margin-top: 150px;
        margin-right: 50px;
        font-size: 30px;
    }

    .title > div > a {
        font-size: 25px;
    }

    #line {
        font-size: 30px;
        padding: 5px 0;
    }

    header {
        height: 400px;
    }

    .dropdown > .iconify {
        display: none;
    }

    .dropdown {
        padding-top: 20px;
    }
    
    .dropdown-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 50%;
        padding-right: 40px;
    }
    
    .dropdown-content a {
        font-size: 20px;
    }
}

/*Header end*/

/*Main start*/

main section {
    height: 180px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section h1 {
    margin: 0;
    font-size: 15px;
}

main section h2 {
    margin: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

main section h1 span {
    color: #c09c78;
}

/* putin dezorganizat codul asa cu media queries raspandite in tot CSS-ul,,de obicei pornim cu desktop-ul care e default si pt care nu punem query, iar apoi coboram pe breakpoints in jos,,tu le ai si raspndite si duplicate, putina atentie aici, te rog */
/* si aici eu vad doar implementare mobile si nu am o rezolutie de mobile */
@media (min-width: 1200px) {
    main > div {
        display: flex;
        width: 100%;
    }

    main > div > section:last-of-type {
        flex-grow: 1;
    }

    main section {
        height: 400px;
        background-size: cover;
        background-position: left;
        width: 33%;
        position: relative;
    }

    main section h1 {
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        padding: 10px 20px;
    }

    main section h1 span {
        color: white;
    }

    main section h1 span::before {
        content:"\a";
        white-space: pre;
    }

    main section h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px 20px;
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        transform: rotate(-180deg);
    }
}

/*Main end*/

/*Form start*/

form {
    background-color: #2b2b2b;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form > h1 {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

form > h1 span {
    color: #c09c78;
}

form > div {
    display: flex;
    flex-direction: column;
}

form input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #3d3d3d;
    color: white;
    border: 0;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    float: right;
    color: white;
    background-color: #c09c78;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 30px;
    cursor: pointer;
}

form > a  {
    display: none;
}

@media (min-width: 1200px) {
    form input, textarea {
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }

    form input {
        height: 50px;
    }

    form textarea {
        height: 120px;
    }

    form > div {
        flex-direction: row;
        justify-content: center;
    }

    form button {
        align-self: center;
    }

    form > a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: #3d3d3d;
        align-self: center;
        border-radius: 20px;
        margin: 50px;
    }
}

/*Form end*/